<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>考研词汇通</title>
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">

		<link rel="stylesheet" href="/lib/mui/mui.min.css"> <!--标准mui.css-->
		<link rel="stylesheet" type="text/css" href="/lib/mui/app.css"/> <!--App自定义的css-->
	</head>
	<body>
		<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 class="mui-title tableName"></h1>
		</header>
		<div class="mui-content">
			<div style="text-align: right;margin:15px 10px;"><button type="button" onclick="exportlib()" class="mui-btn-success">导出词库</button></div>
			<div class="mui-card" style="margin-bottom: 35px;">
				<ul class="mui-table-view routeview"></ul>
			</div>			
		</div>
	</body>
	<script src="/lib/mui/mui.min.js"></script>
	<script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
	<script>
		mui.init({swipeBack:true}) //启用右滑关闭功能
		const l = console.log
		$(async function(){
			window.search = location.search.slice(1)		
			let {datas,tableName} = await $.get('/subset',search)
			window.datas = datas
			window.tableName = tableName
			$('.tableName').text(tableName)
			render('.routeview')
		})

		// 词库列表渲染函数
		function render(ele){
			if(datas.length === 0) return $(ele).html('<h3>暂无单词')
			let html = []
			if(search === 'lib=%E7%96%91%E9%9A%BE%E8%AF%8D' || search === 'lib=%E7%AE%80%E5%8D%95%E8%AF%8D') datas.map(v=>{html.push(`<li class="mui-table-view-cell"><span style="color:rgb(47, 205, 73)">${v.en}</span>&emsp;${v.zh}<button type="button" onclick="del(${v.id})" class="mui-btn">移除</button></li>`)})
			else datas.map(v=>{html.push(`<li class="mui-table-view-cell"><span style="color:rgb(47, 205, 73)">${v.en}</span>&emsp;${v.zh}</li>`)})
			$(ele).html(html.join(""))
		}
		
		// 添加删除按钮事件响应函数
		function del(id){
			let word = $(event.target.parentNode).find('span').text()
			mui.confirm(`确认移除< ${word} >吗？`,0,['是','否'],async (e) =>{
				if(e.index == 0){
					let result = await $.get('/subset/del',search+`&id=${id}`)
					if(!result.status) location.reload()
					else mui.toast(result.msg)
				}
			})
		}

		// 导出词库
		function exportlib(){
			mui.confirm(`确认要导出<${tableName}>吗？`,0,['是','否'],async (e) =>{
				if(e.index == 0){
					let csvData = datas
					.map(v=>`${v.en},${v.phonetic},${v.zh}`)
					.join('\n')
					
				//- 表格导出
				let uri = 'data:text/csv;charset=utf-8,\ufeff' + encodeURIComponent(csvData);
				let link = document.createElement("a");
				link.href = uri;
				link.download =  `${tableName}.csv`;
				document.body.appendChild(link);
				link.click();
				document.body.removeChild(link);
				}
			})
			
		}
	</script>
</html>

