<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<title>考研词汇通</title>
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">

		<link rel="stylesheet" href="/lib/mui/mui.min.css">
		
	</head>
	<body>
		<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 class="mui-title">设置</h1>
		</header>
		<div class="mui-content">
			<div class="mui-button-row">
				<button class="mui-btn mui-btn-warning" type="button" onclick="logout()">&emsp;&emsp;退出登录&emsp;&emsp;</button>
			</div>
		</div>
		<script src="/lib/mui/mui.min.js"></script>
		<script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
		<script>
			mui.init({swipeBack:true}) //启用右滑关闭功能
			async function logout(){
				let result = $.get('/user/logout')
				if(!result.status){
					mui.toast('退出成功')
					setTimeout(function(){location.href = '/pages/login'},1.5e3)
				} 
			}
		</script>
	</body>

</html>